<!DOCTYPE html>
<html lang="{{ htmllang() }}">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        {# make sure we always display a proper title: The record's title if there is one, appended with the
        sitename. If there is no title, we append the sitename with the payoff, if there is one. #}
        <title>
            {%- if record|default and record.title -%}
            {{- record.title ~ ' | ' -}}
            {%- endif -%}
            {{- config.get('general/sitename') -}}
            {%- if record|default == null and config.has('general/payoff') -%}
            {{- ' | ' ~ config.get('general/payoff') -}}
            {%- endif -%}
        </title>

        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta name="author" content="">

        <link rel="stylesheet" href="{{ asset('dist/css/screen.css') }}" media="all" />

        <link rel="preconnect" href="https://fonts.googleapis.com" crossorigin />
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet"> 

        <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('apple-touch-icon.png') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('favicon-16x16.png') }}">
        <link rel="manifest" href="{{ asset('manifest.json') }}">
        <link rel="mask-icon" href="{{ asset('safari-pinned-tab.svg') }}" color="#5bbad5">
        <meta name="theme-color" content="#ffffff">
    </head>

    <body class="{% if app.request.pathInfo == "/" %}home{% endif %}{{app.request.pathInfo|split("/")|join(" ")}}">
        <header>
            <div class="inner-wrap">
                <a class="skipcontent" href="#content">Ga naar de inhoud</a>
                <a href="/" class="logo">
                    {# See custom.js for logo swapping when you have a mobile logo #}
                    {# <img src="{{paths.theme}}img/mob-logo.png" alt="" data-src="{{paths.theme}}img/logo.png" data-src-mobile="{{paths.theme}}img/mob-logo.png" /> #}
                    <span>
                        {# {{ app.config.get('general/sitename') }} #}
                        MAKEITSO
                    </span>
                </a>
            </div>
        </header>

        <nav class="navigation-primary">
            <div class="inner-wrap">
                <ul class="menu">      
                    {{ menu('main', template='partials/_menu.twig') }}
                </ul>
                <form action="{{ path('search') }}" method="get" accept-charset="UTF-8"  enctype="text/plain" class="search-block">
                    <label for="search_field">Search</label>
                    <input type="search" value="{% if search is defined %}{{ search|escape }}{% endif %}" placeholder="{{ __('general.phrase.search-ellipsis') }}" name="search">
                    <input type="submit" value="search" />
                </form>
            </div>             
        </nav>

        <main>
            <div class="inner-wrap">
                {% block aside_sidebar_first %}
                {% endblock %}

                {% block body %}
                {% endblock %}

                {% block aside_sidebar_second %}
                {% endblock %}
            </div>

            {% block main_aside_one %}
            {% endblock %}
            {% block main_aside_two %}
            {% endblock %}
        </main>

        <footer>
            <div class="inner-wrap">
                
                <ul class="footer-block third menu">
                    <li>
                        <a href="index.html">About MAKEITSO</a>
                    </li>
                    <li>
                        <a href="article.html">Article page</a>
                    </li>
                    <li>
                        <a href="listing.html">Listing page</a>   
                    </li>
                    <li>
                        <a href="form.html">Form page</a>    
                    </li>
                </ul>
                {# <ul class="footer-block third menu">
                    {{ menu('main', template='partials/_menu_footer.twig') }}
                </ul> #}

                <div class="footer-logo">
                    <span class="logotype">MAKEITSO</span>
                    <span class="tagline">get to viable at warp speed</span>
                </div>
            </div>
        </footer>

        <script src="{{ asset('dist/js/scripts.js') }}"></script>

</body>
</html>