<!DOCTYPE html>
<html class="no-js" lang="{{ htmllang() }}">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {# make sure we always display a proper title: The record's title if there is one, appended with the
        sitename. If there is no title, we append the sitename with the payoff, if there is one. #}
        <title>
            {%- if record|default and record.title -%}
            {{- record.title ~ ' | ' -}}
            {%- endif -%}
            {{- config.get('general/sitename') -}}
            {%- if record|default == null and config.has('general/payoff') -%}
            {{- ' | ' ~ config.get('general/payoff') -}}
            {%- endif -%}
        </title>

        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta name="author" content="">

        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;600&display=swap" rel="stylesheet"> 

        <link rel="stylesheet" href="{{ asset('dist/css/screen.css') }}" media="all" />

        <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('apple-touch-icon.png') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('favicon-16x16.png') }}">
        <link rel="manifest" href="{{ asset('manifest.json') }}">
        <link rel="mask-icon" href="{{ asset('safari-pinned-tab.svg') }}" color="#5bbad5">
        <meta name="theme-color" content="#ffffff">
    </head>

    <body class="layout {% block bodyclass %}{% endblock bodyclass %}">
        {% include 'partials/_icons.twig' %}

        {% include 'partials/_header.twig' %}
  
        <main>

            {% block main %}
            (This is <code>block main</code>)
            {% endblock main %}

        </main>

        {% include 'partials/_footer.twig' %}

    <script defer src="{{ asset('dist/js/scripts.js') }}"></script>
</body>
</html>