<nav class="navigation-primary">
    <div class="layout__inner-wrap">
        <ul class="menu menu--primary">
            {{ menu('main', template='partials/_menu.twig') }}
        </ul>
        <ul class="menu menu--secondary">
            {{ menu('main--secondary', template='partials/_menu.twig') }}
            <li>
                <a href="#" class="toggle-search search__search-toggle">
                    <svg class="icon icon--search">
                        <use xlink:href="#icon-search" />
                    </svg>
                    <span><span class="search__search-toggle-inner"></span>Search</span>
                </a>
            </li>
        </ul>

        <form action="{{ path('search') }}" method="get" class="search-block" enctype="text/plain">
            <div class="layout__inner-wrap">
                <label for="search_field">Search</label>
                <input type="search" value="{{ searchTerm|default() }}" class="search_field" id="search_field" name="searchTerm"/>
                <button type="submit" value="search">
                    <svg class="icon icon--search">
                        <use xlink:href="#icon-search" />
                    </svg>
                    {{ __('general.phrase.search') }}
                </button>
                <a href="#" class="toggle-search search__search-toggle-inner"><span class="sr-only">Sluiten</span></a>
            </div>
        </form>
        
    </div>
</nav>