<!DOCTYPE html>
<html lang="{{ htmllang() }}">
    <head>
        <meta charset="utf-8">
        {% if record is defined %}
            <title>{{ record.title ? (app.config.get('general/sitename') ~ ' | ' ~ record.title|excerpt(55)) : app.config.get('general/sitename') }}</title>
            <meta name="description" content="{{ record.body|excerpt(160) ?: app.config.get('general/payoff') }}">
        {% else %}
            <title>{{ app.config.get('general/sitename') }}</title>
            <meta name="description" content="{{ app.config.get('general/payoff') }}">
        {% endif %}
        <meta http_equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=10.0" />
        <meta name="description" content="Make it so startup and engage theme" />
        <!-- For IE 9 and below. ICO should be 32x32 pixels in size -->
        <!--[if IE]><link rel="shortcut icon" href="{{ paths.theme }}favicon.ico"><![endif]-->
        <!-- Touch Icons - iOS and Android 2.1+ 180x180 pixels in size. --> 
        <link rel="apple-touch-icon" href="{{ paths.theme }}apple-touch-icon.png">
        <!-- Firefox, Chrome, Safari, IE 11+ and Opera. 192x192 pixels in size. -->
        <link rel="icon" href="{{ paths.theme }}favicon.png">
        <link type="text/css" rel="stylesheet" href="{{ paths.theme }}css/screen.css" media="all" />
    </head>

    <body class="{% if app.request.pathInfo == "/" %}homepage{% endif %}{{app.request.pathInfo|split("/")|join(" ")}}">
        <header role="banner">
            <div class="inner-wrap">
                <a class="skipcontent" href="#content">Ga naar de inhoud</a>
                <h1 class="logo">
                    <a href="/">
                        <img src="{{paths.theme}}img/mob-logo.png" alt="" data-src="{{paths.theme}}img/logo.png" data-src-mobile="{{paths.theme}}img/mob-logo.png" />
                        <span>{{ app.config.get('general/sitename') }}</span>
                    </a>
                </h1>
            </div>
        </header>

        <nav role="navigation">
        <div class="inner-wrap">
            <div class="toggle-btn-wrap">
                <button class="toggle-menu" role="button">menu</button>
                <button class=" toggle-search" role="button">zoeken</button>
            </div>
            <ul class="menu">                
                {{ menu('main', '_menu.twig') }}       
            </ul>
            <form action="/" method="post" accept-charset="UTF-8" class="search-block">
                <label for="search_field">Search</label>
                <input title="Enter the terms you wish to search for" type="text" name="search_field" value="" class="search_field" />
                <input type="submit" value="search" />
            </form>
        </div>             
    </nav>

    <main role="main">
        <div class="inner-wrap">
            {% block aside_sidebar_first %}
            {% endblock %}

            {% block body %}
            {% endblock %}

            {% block aside_sidebar_second %}
            {% endblock %}
        </div>

        {% block main_aside_one %}
        {% endblock %}
        {% block main_aside_two %}
        {% endblock %}
    </main>

    <footer>
        <div class="inner-wrap">
            <ul class="footer-block">
                {{ menu('main', '_menu_footer.twig') }}
            </ul>

            <div class="footer-block">
                <p>Lorem ipsum dolor sit amet consectetuer adipliscing elit</p>
            </div>
        </div>
    </footer>

    <script src="{{ paths.theme }}js/lib/modernizr.custom.40091.js"></script>
    <script src="{{ paths.theme }}js/lib/jquery-1.11.1.min.js"></script>
    <script src="{{ paths.theme }}js/lib/viewportSize-min.js"></script>
    <script src="{{ paths.theme }}js/custom.js"></script> 

</body>
</html>