{% extends 'partials/_base.twig' %}

{% block aside_sidebar_first %}
{# <aside class="sidebar sidebar-first">
</aside> #}
{% endblock %}

{% block body %}
<section class="main-content">
    <a id="content" tabindex="0"></a>
    <h1 class="sr-only">{{ app.config.get('general/sitename') }}</h1>
    <div class="body-content">
        <p class="payoff alpha centered">{{ settings.websiteintro|striptags }}</p>

        {% include 'partials/_life_events_highlighted.twig' %}

        <p class="general-tagline alpha centered">{{ settings.generalhelpdeskpayoff|striptags }}</p>

        <div class="appointment-option">
            <p>{{ settings.appointmenttext }}</p>
            <a href="{{ settings.appointmentlink }}" class="btn underlined">Maak een afspraak<span class="themed-underline"></span><span class="themed-plus"></span></a>
        </div>

        <div class="savingtips-option">
            <p>{{ settings.savingstext }}</p>
            <a href="{{ settings.savingslink }}" class="btn underlined">Bespaartips<span class="themed-underline"></span><span class="themed-plus"></span></a>
        </div>

    </div>
</section>

{% endblock %}

{% block aside_sidebar_second %}
    <aside class="sidebar sidebar-second">
    
    </aside>
{% endblock %}

{% block main_aside_one %}
    <aside>
        <div class="inner-wrap">
            {% include 'partials/_life_events.twig' %}
        </div>
    </aside>
{% endblock %}