{% extends 'partials/_base.twig' %}

{% block aside_sidebar_first %}
{% endblock %}

{% block body %}
    <article class="main-content">
        <a id="content" tabindex="0"></a>

        {{ widgets('main_top') }}

        <h1 data-bolt-field="title">{{ record.title }}{% if record.editlink() %}<span class="edit-link"><a href="{{ record.editlink() }}"><strong>Edit</strong></a></span>{% endif %}</h1>

        <div class="body-content">
            <div class="introduction">        
            {{ record.teaser }}
            </div>
            <img src="{{ image(record.image)}}" alt="{{ record.values.image.title }}" />
            <div class="appointment-option">
                <a href="{{ settings.appointmentlink }}" class="btn">Maak een afspraak</a>
                <p>{{ settings.appointmenttext }}</p>
            </div>

            {% if record.savingtips is not empty %}
            <ul class="saving-tips stripped">
                {% set counter = 0 %}
                {% for savingtip in record.savingtips %}
                <li>
                    <span id="savingtip-label-{{ counter }}" aria-describedby="saving-tip-{{ counter }}">{{ savingtip.repeattitle }}</span>
                    <p aria-labelledby="savingtip-label-{{ counter }}" id="saving-tip-{{ counter }}">{{ savingtip.repeatcontent|raw }}</p>
                </li>
                {% set counter = counter + 1 %} 
                {% endfor %}
            </ul>
            {% endif %}

        </div>

    </article>
{% endblock %}

{% block aside_sidebar_second %}
{% endblock %}

{% block main_aside_one %}
{% endblock %}
