{% extends 'partials/_base.twig' %}

{% block aside_sidebar_first %}
{% endblock %}

{% block body %}
    <article class="main-content">
        <a id="content" tabindex="0"></a>

        {{ widgets('main_top') }}

        <h1 data-bolt-field="title">{{ record.title }}{% if record.editlink() %}<span class="edit-link"><a href="{{ record.editlink() }}"><strong>Edit</strong></a></span>{% endif %}</h1>

        <div class="body-content">
            {# Output all fields, in the order as defined in the contenttype.
            To change the generated html and configure the options, see:
            https://docs.bolt.cm/templating/fields-tag #}
            {{ fields(template = 'partials/_sub_fields.twig') }}

            {# Uncomment this if you wish to dump the entire record to the client, for debugging purposes.
            {{ dump(record) }}
            #}
        </div>

    </article>
{% endblock %}

{% block aside_sidebar_second %}
{% endblock %}

{% block main_aside_one %}
    <aside>
    <div class="inner-wrap">
        {% include 'partials/_life_events.twig' %}
    </div>
    </aside>
{% endblock %}
