{% extends 'partials/_base.twig' %}

{% block aside_sidebar_first %}
    {# <aside class="sidebar sidebar-first">
    </aside> #}
{% endblock %}

{% block body %}

    <section class="main-content">
        <a id="content" tabindex="0"></a>

        {# This template is used for search results. If 'search' is defined,
           we display an appropriate title. The 'records' array contains all of the
           records matching the current query. If there are no results, the
           code in the 'else' part of the for-loop is used. #}
        <h1>
            {% if search is not empty %}
                {{ __('general.phrase.search-results-for-variable', { '%search%': search }) }}
            {% else %}
                {{ __('general.phrase.search') }}
            {% endif %}
        </h1>

        {% for record in records %}

            <article class="item-teaser">
                <h2><a href="{{ record.link }}">{{ record.title }}</a></h2>
                {% include 'partials/_recordfooter.twig' with { 'record': record } %}
                <img src="{{ image(record.image, 1200, 500) }}" />
                {# display something introduction-like.. #}
                {% if record.introduction %}
                    {{ record.introduction }}
                {% elseif record.teaser %}
                    {{ record.teaser }}
                {% else %}
                    <p>{{ record.excerpt(300, false, search|default('')) }}</p>
                {% endif %}
            </article>

        {% else %}

            <article>
                <h2>{{ __('general.phrase.no-content-found') }}</h2>
                <p>
                    {{ __("Unfortunately, no content could be found. Try another page, or go to the <a href=\"%paths_root%\">homepage</a>.", {'%paths_root%': path('homepage')} ) }}
                </p>
            </article>
        {% endfor %}

        {# If there are more records than will fit on one page, the pager is shown. #}
        {{ pager(template = 'partials/_sub_pager.twig') }}

    </section>
{% endblock %}

{% block aside_sidebar_second %}
    <aside class="sidebar sidebar-second">
        {# Perhaps we post a small teaser, stored in the 'block' named 'Search teaser' #}
        {% setcontent block = "block/search-teaser" %}

        {# check if we have 'content'. If so, we know we have have a teaser to display. #}
        {% if block.content is defined %}
            <h3>{{ block.title }}</h3>
            {{ block.content }}
        {% endif %}
    </aside>
{% endblock %}

{% block main_aside_one %}
    {# <aside>
        <div class="inner-wrap">
        </div>
    </aside> #}
{% endblock %}
