{% extends 'partials/_base.twig' %}

{% block bodyclass %}{% endblock %}

{% block main %}

    <section class="layout__main main-content">
        <header class="contentblock main-content__header">
            <div class="layout__inner-wrap grid">
                <div class="grid-column">
                    <a id="content" tabindex="0"></a>
                    {# This template is used for search results. If 'search' is defined,
                    we display an appropriate title. The 'records' array contains all of the
                    records matching the current query. If there are no results, the
                    code in the 'else' part of the for-loop is used. #}
                    <h1>
                        {% if searchTerm is not empty %}
                            {{ __('general.phrase.search-results-for', { '%search%': searchTerm }) }}
                        {% else %}
                            {{ __('general.phrase.search') }}
                        {% endif %}
                    </h1>
                </div>
            </div>
        </header>

        <div class="contentblock contentblock--content-listing">
            <div class="layout__inner-wrap grid">
                <div class="grid-column grid-column--two-thirds">

                    <div class="content-listing">
                        <ul class="stripped content-listing__list">

                            {% for record in records %}
                            <li>
                                <article class="item-teaser">
                                    <h2><a href="{{ record.link }}">{{ record.title }}</a></h2>
                                    {% if record.image is defined and record.image is not empty %}
                                    <img src="{{ record.image|thumbnail(1200, 500) }}" />
                                    {% endif %}
                                    {# display something introduction-like.. #}
                                    {% if record.introduction %}
                                        <p>{{ record.introduction }}</p>
                                    {% elseif record.teaser %}
                                        <p>{{ record.teaser }}</p>
                                    {% else %}
                                        <p>{{ record.excerpt(300, false, search|default('')) }}</p>
                                    {% endif %}
                                    <a class="read-more" href="{{ record.link }}">read more<span class="sr-only"> about Article title</span></a>
                                </article>
                            </li>
                            {% else %}
                            <li>
                                <article class="item-teaser">
                                    <h2>{{ __('general.phrase.no-content-found') }}</h2>
                                    <p>
                                        {{ __("Unfortunately, no content could be found. Try another page, or go to the <a href=\"%paths_root%\">homepage</a>.", {'%paths_root%': path('homepage')} ) }}
                                    </p>
                                </article>
                            </li>
                            {% endfor %}
                        </ul>   

                        {# If there are more records than will fit on one page, the pager is shown. #}
                        {# {{ pager(template = 'partials/_sub_pager.twig') }} #}

                    </div>

                </div>

                <div class="grid-column grid-column--one-third">

                    <div class="ui-info ui-info_default">
                        <p>side column</p>
                    </div>


                    {# Perhaps we post a small teaser, stored in the 'block' named 'Search teaser' #}
                    {% setcontent block = "block/search-teaser" %}
                    {# check if we have 'content'. If so, we know we have have a teaser to display. #}
                    {% if block.content is defined %}
                    <div class="">
                        <h3>{{ block.title }}</h3>
                        {{ block.content }}
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>

    </section>
{% endblock %}