
{% block form_errors %}
    {% spaceless %}
        {% if errors|length > 0 %}
        <div class="form-item_error-message" id="{{ id ~ '-error-message' }} ">
            <ul class="boltform-errors">
                {% for error in errors %}
                    <li class="boltform-error">{{ error.message }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
    {% endspaceless %}
{% endblock form_errors %}

{%- block form_label -%} 
    {% if label is not same as(false) -%}
        {% if not compound -%}
            {% set label_attr = label_attr|merge({'for': id}) %}
        {%- endif -%}
        {% if required -%}
            {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' boltform-label boltform-required-field')|trim}) %}
        {%- endif -%}
        {% if label is empty -%}
            {%- if label_format is not empty -%}
                {% set label = label_format|replace({
                    '%name%': name,
                    '%id%': id,
                }) %}
            {%- else -%}
                {% set label = name|humanize %}
            {%- endif -%}
        {%- endif -%}
        <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>{{ label|raw }}</label>
    {%- endif -%}
{%- endblock form_label -%}

{# 
{%- block choice_widget_expanded -%}
    <div {{ block('widget_container_attributes') }}>
    {%- for child in form %}
    <div class="choice-item">
        {{- form_widget(child) -}}
        {{- form_label(child) -}}
    </div>
    {% endfor -%}
    </div>
{%- endblock choice_widget_expanded -%} #}